@page
@model BrabantCareWebApi.Pages.Patients.CreateModel
@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<h2>Create New Patient</h2>

<form method="post" >
    <div class="mb-3">
        <label class="form-label">First Name</label>
        <input asp-for="newPatient.firstName" class="form-control" required />
    </div>
    <div class="mb-3">
        <label class="form-label">Last Name</label>
        <input asp-for="newPatient.lastName" class="form-control" required />
    </div>
    <div class="mb-3">
        <label class="form-label">Birthdate</label>
        <input asp-for="newPatient.birthdate" class="form-control" type="date" required />
    </div>
    <div class="mb-3">
        <label class="form-label">Next Appointment Date</label>
        <input asp-for="newPatient.nextAppointmentDate" class="form-control" type="datetime-local" required />
    </div>

    <div class="mb-3">
        <label class="form-label">Guardian</label>
        <select asp-for="newPatient.guardianID" class="form-control" asp-items="@(new SelectList(Model.Guardians, "ID", "FirstName"))"></select>
    </div>

    <div class="mb-3">
        <label class="form-label">Treatment Plan</label>
        <select asp-for="newPatient.treatmentPlanID" class="form-control" asp-items="@(new SelectList(Model.TreatmentPlans, "ID", "Name"))"></select>
    </div>

    <div class="mb-3">
        <label class="form-label">Doctor</label>
        <select asp-for="newPatient.doctorID" class="form-control" asp-items="@(new SelectList(Model.Doctors, "ID", "Name"))"></select>
    </div>

    <button type="submit" class="btn btn-primary">Create Patient</button>
</form>
