@page
@model BrabantCareWebApi.Pages.TreatmentPlans.CreateModel
@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<h2>Create New Treatment Plan</h2>

<form method="post">
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input asp-for="NewTreatmentPlan.Name" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-success">Create</button>
</form>
