@page
@model BrabantCareWebApi.Pages.TreatmentPlans.IndexModel
@{
	Layout = "/Pages/Shared/_Layout.cshtml";
}

<h2>Treatment Plans</h2>
<a asp-page="Create" class="btn btn-primary mb-3">Create New</a>

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var treatmentPlan in Model.TreatmentPlans)
		{
			<tr>
				<td>@treatmentPlan.Name</td>
				<td>
					<a asp-page="Edit" asp-route-id="@treatmentPlan.ID" class="btn btn-warning ">Edit</a>
					<a asp-page="Delete" asp-route-id="@treatmentPlan.ID" class="btn btn-danger ">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
